# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
TestResults/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/

# Playwright cache
playwright-report/
test-results/

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
.nuget/

# Logs and configs
*.log
*.db
*.cache
*.bak
*.tmp
*.swp

# specflow
*.feature.cs
